.select-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    height: 100%;
    flex-shrink: 0;
    min-width: 54px;
}

.select-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-inline-start: 15px;
    padding-right: 8px;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
}

.select-wrapper:hover {
    background: rgba(0, 0, 0, 0.02);
}

.select-wrapper:focus-within {
    /* Remove blue focus border */
    outline: none;
    box-shadow: none;
}

.select-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    z-index: 20;
    color: black;
    background: white;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    padding-inline-start: 5px;
    outline: none;
    border: none;
}

.select-overlay::-webkit-scrollbar {
    width: 6px;
}

.select-overlay::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.select-overlay::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.rtl {
    direction: rtl;
}

.rtl .select-wrapper {
    flex-direction: row-reverse;
    padding-inline-start: 8px;
    padding-inline-end: 15px;
}

.rtl .select-overlay {
    padding-inline-start: 8px;
    padding-inline-end: 15px;
}
